hr{
width=70%;
	align= left;
}
.presentation{
	list-style-type: none; 
}
.etatcivil img{
	    width: 100%;
    max-width: 400px;
}
.cv{
	list-style-type: none; 
		border-top: 5px solid #87CEEB;
	background-color: RGBa(70,120,120,0.15);
	margin-bottom: 0px;
}
}
.c{
float: center;
}
ul.police li{
     position:relative;float:left;
     width:100px;height:100px;padding:10px;list-style:none;
}
/*permet de créer deux lignes*/
ul.police li:nth-child(4n){clear:left;} 
          
ul.police li a{
     display:block;overflow:hidden;
     width:100px;height:100px;
     margin-top:0px;margin-left:0px;
     border:0px solid rgba(0,0,0,0.7);
     transition-property:width,height,margin,z-index,border;
     transition-duration:0.4s;
}

ul.police li a:hover{
     position:absolute;
     width:300px;height:300px;
     margin-top:-56px;margin-left:-56px;
     z-index:100;
     border:6px solid rgba(0,0,0,0.7);
}
          
ul.police li a img{
     position:absolute;
     width:100px;height:100px;z-index:20;
     transition-property:width,height,z-index;
     transition-duration:0.4s;
}
          
ul.police li a:hover img{
     width:300px;height:300px;
     z-index:100;
}
body {
	font-family: 'Verdana',calibri,serif;
	font-size: 20px;
	margin: 0 auto;
	padding: 0px;
	list-style-type: none; 
}
.lol img{
	width:30px;
}
.pok{
	width: 30px
}
.blanc2{

	color: brown;
}
.blanc{
font-size: 20px;
	color: brown;
	text-align: center;
}
nav{
	width: 100%;
	background-color: #424558;
	font-weight: normal;
}
nav li{
	list-style-type: none;
	float: left;
	margin: 10px;
}
nav ul{
	margin: 0px;
	padding: 0px;
		
}
h1,h4,h3,h2{
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
h7{
	font-size: 40px;
	font-weight: normal;
}
header{
	height: 100px;
}
footer {
	height: 80px;
	padding-top: 30px;
	text-align: center;
	background-color : #C5C5C5;
	border-top: 2px solid #AAA;
}
n1{
	text-align: center;
}

/*li:first-child {
  background-color: grey;
  float:right;
	text-align: left; 
  border: 1px #FFF solid;
  border-radius: 5px 5px 5px 5px;

}*/


nav a{
	display: inline-block;
	text-decoration: none;
	padding: 20px,30px;
  color: #FFF;
	text-transform: uppercase;
	font-size: 15px;
	
}
.table{
	display: table;
	margin: 0 auto;
}
.menu-1:hover, .presentation{
	border-top: 5px solid #4C8;
	background-color: RGBa(64,200,130,0.15);
}
.menu-2:hover,.competence{
	border-top: 5px solid #0070BB;
	background-color: RGBa(000,112,192,0.15);
}
.menu-4:hover{
	border-top: 5px solid #f1dc4f;
	background-color: RGBa(000, 112, 192, 0.15);
}
.menu-3:hover{
	border-top: 5px solid #e44d26;
	background-color: RGBa(228,77,38,0.15);
}
.menu-5:hover{
	border-top: 5px solid #8B008B;
	background-color: RGBa(200,52,28,0.15);
}
.menu-6:hover{
	border-top: 5px solid #87CEEB;
	background-color: RGBa(70,120,120,0.15);
}
/*pas obliger*/
nav li:hover a{
	padding: 15px 30px 20px 30px;
}
section{
	margin: 0 auto;
	width: 1000px;
	min-height: 300px;
	padding-bottom:10px;
	}
.sec{
	margin: 0px 3%;
}
section.presentation{
	
}
.left img{
	float: left;
	width: 100%;
}
.left{
	width: 30%;
	float: left;
}
.right{
	float: left;
	width: 70%;
	font-size : 13px;
}
div.sousleft, div.sousright{
	width: 50%;
	float: left;
	text-align: center;
}
.sec::after{
	content:"";
	display: table;
	clear: both;
}
.orange{
	border-top: 5px solid #e47d26;
	background-color: RGBa(228,117,38,0.15);
	margin-bottom: 0px;
}
.rose{
	border-top: 5px solid #e44d96;
	background-color: RGBa(228,77,128,0.15);
	margin-bottom: 0px;
}
.photo{
	border-top: 5px solid #e44d96;
	background-color: RGBa(228,77,128,0.15);
	margin-bottom: 0px;
		padding-bottom: 100px;
}
.leftexp{
	width: 45%;
	float: left;
}
.wrapper{
	max-width:580px;
	
}
input{
	width: 90%;
}
.rightexp{
width:50%;
float: left;
margin-left: 5%;
}
.leftexp img{
	width: 100%;
	max-width: 400px;
}
.leftsec{
	width: 100%;

}
.leftsec img{
	width: 19%;
	max-width: 400px;
	float: left;
	margin : 0px 3%;
}
.rightsec{
	
}
.musique{
	border-top: 5px solid #D2691E;
	background-image:url(img/background.jpg);
	margin-bottom: 0px;
	padding-bottom: 100px;
}
.sport{
		border-top: 5px solid #A52A2A;
	background-image:url(img/backgroung2.jpg);
	margin-bottom: 0px;
	padding-bottom: 100px;
}

.japon{
			border-top: 5px solid #00BFFF;
	background-image:url(img/background3.jpg);
	margin-bottom: 0px;
	padding-bottom: 100px;
}
.japon p{
	color : #000080;
}
.rouge{
		border-top: 5px solid #e44d96;
	background-color: RGBa(228,77,128,0.15);
}
#contact{
	text-align: center;
	
}
.foot2rue img{
	width : 60%;
	float : right;
}
.foot2rue p{
	float : left;
}


.foot{
	float: left;
}
@media screen and (max-width: 780px) {
header {
  height: 50px;
}
	section{
		width:100%;
	}
	h1,h2,h3,h4,h7{
		font-size: 28px;
		margin: 20px, 0px, 0px, 0px;
	}
	nav li a{
		font-size: 12px;
		padding: 10px;
	}
	nav li:hover a{
		padding: 5px 10px 10px 10px;
	}
}
	